@font-face {
    font-family: GothicHybrid;
    src: url(fonts/BuGothicHybrid-xyd5.ttf);
}

.home {
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.home img {
    height: 75px;
    padding: 20px;
}

body {
    background-color: grey;
}

h2 {
    font-family: GothicHybrid;
    letter-spacing: 3px;
    margin-top: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;

    width: 1100px;
    margin: auto;
    padding: 10px;
}

.div1 img {
    margin: auto;
    text-align: center;
    display: block;
    padding: 20px;
    float: right;
}

.div2 {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

div {
    border: 2px solid black;
}