@font-face {
    font-family: GothicHybrid;
    src: url(fonts/BuGothicHybrid-xyd5.ttf);
}

.home {
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.home img {
    height: 75px;
    padding: 20px;
}

body {
    background-color: grey;
}

h2 {
    font-family: GothicHybrid;
    letter-spacing: 3px;
    margin-top: 0;
}

.page {
    width: 1100px;
    margin: auto;
    padding: 10px;
}

.entry {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    max-height: 400px;
}

div {
    border: 2px solid black;
}