@font-face {
    font-family: GothicHybrid;
    src: url(fonts/BuGothicHybrid-xyd5.ttf);
}

.home {
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.home img {
    height: 75px;
    padding: 20px;
}

body {
    background-color: grey;
}

h2 {
    font-family: GothicHybrid;
    letter-spacing: 3px;
    margin-top: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;

    width: 1100px;
    margin: auto;
    background-color: white;
}

.div1 img {
    margin: auto;
    text-align: center;
    display: block;
    padding: 20px;
    float: right;
}

.div2 {
    grid-column: span 2 / span 2;

    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.navigation {
    margin: auto;
    width: 1100px;
    display: block;
    font-family: GothicHybrid;
    font-size: 30px;
    text-align: center;
}

.navigation a {
    height: 75px;
    background-color: red;
    padding: 5px 20px 4px 20px;
}

#active {
    background-color: white;
}