@font-face {
    font-family: GothicHybrid;
    src: url(fonts/BuGothicHybrid-xyd5.ttf);
}

header {
    font-family: GothicHybrid;
    font-size: 170px;
    width: 1100px;
    height: auto;
    margin: auto;
    color: grey;
}

body {
    background-color: rgb(43, 10, 10);
}

.subtitle {
    font-family: GothicHybrid;
    font-size: 50px;
    width: 1100px;
    margin: auto;
    text-align: center;
    color: grey;
}

.center-img {
    text-align: center;
    margin: auto;
    width: 1100px;
    padding: 20px;
}

.center-img img {
    height: 250px;
    margin: 20px;
}

.navigation {
    text-align: center;
    margin: auto;
    width: 1100px;
}

.navigation img {
    height: 75px;
}